<div class="main">
    <img src="/assets/placedImage.png" class="image">   
    <span class="hurrayTxt">
        hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..
    </span>

    <table class="mainData">
        <tr class="row">
            <th>Email us</th>
            <th>Contact us</th>
            <th>Address</th>
        </tr>
        <tr class="row">
            <td>adminBook@gmail.com</td>
            <td>+91 1234567890</td>
            <td>42, 14th Main, 15th cross Sector 4, opp to BDA complex, near Kumarakom restaurant, HSR Layout Nagpur 441905</td>
        </tr>
    </table>
    <br>
    <button mat-flat-button class="shopBtn" (click)="navToGetAllBooks()">CONTINUE SHOPPING</button>

</div>