<div class="headBox">
    <mat-toolbar class="toolBarHead" >
        <div class="outHeadBox">
            <div class="inHeadBox">
                <div class="bookimg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="95%" height="95%" viewBox="0 0 31.039 23.713">
                        <defs>
                            <style>
                                .a {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <g transform="translate(0 -35.048)">
                            <g transform="translate(0 35.048)">
                                <g transform="translate(0 0)">
                                    <path class="a"
                                        d="M35.941,35.049h0a1.1,1.1,0,0,0-.778.322,1.106,1.106,0,0,0-.327.788V52.815a1.114,1.114,0,0,0,1.112,1.11c2.585.006,6.917.545,9.9,3.672V40.167A1.064,1.064,0,0,0,45.7,39.6C43.245,35.655,38.532,35.055,35.941,35.049Z"
                                        transform="translate(-31.193 -35.049)" />
                                    <path class="a"
                                        d="M167.768,52.814V36.159a1.106,1.106,0,0,0-.327-.788,1.1,1.1,0,0,0-.778-.322h0c-2.591.006-7.3.606-9.757,4.556a1.064,1.064,0,0,0-.153.562V57.6c2.988-3.127,7.32-3.666,9.9-3.672A1.114,1.114,0,0,0,167.768,52.814Z"
                                        transform="translate(-140.369 -35.048)" />
                                    <path class="a"
                                        d="M183.489,71.8h-.805V85.726a2.842,2.842,0,0,1-2.832,2.835c-2.193.005-5.809.434-8.369,2.858a26.738,26.738,0,0,1,11.758.227,1.111,1.111,0,0,0,1.359-1.082V72.912A1.112,1.112,0,0,0,183.489,71.8Z"
                                        transform="translate(-153.561 -67.96)" />
                                    <path class="a"
                                        d="M1.916,85.726V71.8H1.111A1.112,1.112,0,0,0,0,72.912V90.563a1.111,1.111,0,0,0,1.359,1.082,26.737,26.737,0,0,1,11.758-.227c-2.561-2.424-6.176-2.852-8.369-2.857A2.842,2.842,0,0,1,1.916,85.726Z"
                                        transform="translate(0 -67.96)" />
                                </g>
                            </g>
                        </g>
                    </svg>
                    <div class="booktxt">
                        BookStore
                    </div>
                </div>
                <div class="search">
                    <div class="searchicon">
                        <svg focusable="false" height="27px" width="27px" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#9D9D9D"
                                d="M20.49,19l-5.73-5.73C15.53,12.2,16,10.91,16,9.5C16,5.91,13.09,3,9.5,3S3,5.91,3,9.5C3,13.09,5.91,16,9.5,16 c1.41,0,2.7-0.47,3.77-1.24L19,20.49L20.49,19z M5,9.5C5,7.01,7.01,5,9.5,5S14,7.01,14,9.5S11.99,14,9.5,14S5,11.99,5,9.5z">
                            </path>
                            <path d="M0,0h24v24H0V0z" fill="none"></path>
                        </svg>
                    </div>
                    <div class=field>
                        <input class="innerfield" placeholder='Search...' (keyup)="searchBook($event)" />
                    </div>
                </div>
            </div>
            <div class="icons">
                <div class="Iconlogo">                    
                    <button mat-button [matMenuTriggerFor]="menu" >
                        <svg xmlns="http://www.w3.org/2000/svg" height="22px" width="24px">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path fill="#FCFCFC"
                                d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z" />
                        </svg>                        
                    </button>
                    <span class="icontxt">Profile</span>
                    <mat-menu #menu="matMenu" >
                        <div class="menuBox">
                            <div class="innerMenuBox">
                                <span class="hellotxt"><b>Hello Hemant,</b></span>  
                                <div class="popbtns">                           
                                    <button mat-flat-button class="smallIcon" style="padding-left: 0px;">
                                        <img src="/assets/profile.svg" width="16px" height="16px">
                                        <span class="powtxt">Profile</span>
                                    </button>
                                </div>
                                <div class="popbtns">
                                    <button mat-flat-button class="smallIcon" style="padding-left: 0px;" (click)="navOrderPage()">
                                        <img src="/assets/bag.png" width="16px" height="16px">
                                        <span class="powtxt">My Orders</span>
                                    </button>
                                </div>
                                <div class="popbtns">
                                    <button mat-flat-button class="smallIcon" style="padding-left: 0px;" (click)="navWishlistPage()">
                                        <img src="/assets/heart.png" width="16px" height="16px">
                                        <span class="powtxt">My Wishlist</span>
                                    </button>
                                </div>
                                <div class="popbtns">
                                    <button class="logoutBtn" mat-stroked-button color="warn" (click)="logOut()">Logout </button>
                                </div>                                
                            </div>
                        </div>
                    </mat-menu>
                </div>
                <div class="Iconlogo">
                    <button mat-button (click)="navToMycart()">
                        <mat-icon matBadge='1' style="color: white;">shopping_cart</mat-icon>                        
                    </button>
                    <div class="icontxt">Cart</div>
                </div>
            </div>
        </div>
    </mat-toolbar>
</div>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="innerFooter">
        <span>Copyright © 2022, Bookstore Private Limited. All Rights Reserved</span>
    </div>
</footer>