<div class="mainBox">

    <div class="fgttxt">
        <span>Forgot Your Password?</span>
    </div>
    <div class="forgetBox">
        <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
            <div class="innerBox">
                <div>
                    <span class="txt">Enter your email address and we'll send you a link to reset your password</span>
                </div>
                <div class="txtbox">
                    <label class="txtboxlbl">Email Id</label>
                    <mat-form-field appearance="outline" class="txtfield">
                        <input matInput placeholder="" formControlName="emailId" />
                        <mat-error>Email required</mat-error>
                    </mat-form-field>
                </div>
                <div class="reset">
                    <button mat-button class="resetBtn" type="submit">Reset Password</button>
                </div>
            </div>
        </form>
        <div class="acc">
            <button mat-button basic class="accbtn" routerLink="/register">Create Account</button>
        </div>
    </div>
</div>