<div>
    <div class="topbox">
        <div class="topinbox">
            <div class="txtBook">
                Home /
            </div>
            <div class="subtxt">My Wishlist</div>
        </div>
    </div>

    <div class="wishBox">
        <span class="wishTxt">My Wishlist(01)</span>
    </div>  
    <div class="Box" >
        <div class="innerBox">
            <div class="imgBox1">
                <div class="iimmgg">
                    <img class="smallimg" src='/assets/dont.png' />
                </div>
                <div class="detail">
                    <div class="title">
                        <span class="bookttl">Book Title</span>
                        <span class="subtitle">by Author</span>
                        <div class="price">
                            <span>Rs. 2000</span>
                            <span class="actprice" >Rs. 3000</span>
                        </div>
                    </div>
                </div>
                <div class="delete">
                    <img  class="trashimg" src="/assets/trash.png" >
                </div>
            </div>
        </div>
    </div>
</div>