
<div class="logbox">
    <div class="both">
        <div class="container" >
            <div class="imgbox">
                <img class="shop-img" src="../../../assets/shopping.png">
                <p class="text">ONLINE BOOK SHOPPING</p>
            </div>   
        <div class="reg-container">
            <div class="subContainer">
                <div class="twoBtn">
                    <button mat-flat-button class="Btns" style="height: 45px;" >LOGIN</button>
                    <button mat-flat-button class="Btns" style="color: #878787;height: 45px;" (click)="navigate()">SIGNUP</button>                    
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="formbox">                    
                    <div class="txtbox">
                        <mat-label style="font-size: 13px;font-weight: 500;">Email Id</mat-label>
                        <mat-form-field appearance="outline" class="txtfield" >
                            <input matInput placeholder="" formControlName="emailId" />
                            <mat-error>Email required</mat-error>
                        </mat-form-field>
                    </div>                
                    <div class="txtbox1">
                        <mat-label style="font-size: 13px;font-weight: 500;">Password</mat-label>
                        <mat-form-field appearance="outline" class="txtfield">
                            <input matInput placeholder="" formControlName="password"/>
                            <mat-error>Password required</mat-error>
                        </mat-form-field>
                    </div>                
                    <br><br><br><br>
                    <div class="forgotbtn">
                        <button mat-flat-button type="button" class="fgtbtn" style="height: 15px;" >Forgot Password?</button> 
                    </div>
                    <div class="loginBox">
                        <button mat-raised-button type="submit" class="login" style="background-color: #A03037;width: 100%;height: 42px; color: #f5f5f5;" >Login</button>
                    </div>    
            </form>            
                <div class="orTxt">
                    -------------- OR --------------
                </div>                
                <div class="btns" >
                    <button mat-raised-button class="fbBtn" color="primary" type="button">Facebook</button>
                    <button mat-raised-button class="btn-google" type="button">Google</button>
                </div>            
            </div>
        </div> 
        </div>
    </div>   
</div>