.logbox{
    display: flex;    
    background: #00000029;
    height: 100vh;
    width: 100vw;
}
.both{
display: flex;
}

.container{
    display: flex;
    position: relative;
    width: 50vw;
    height: 58vh;
    top: 20vh;
    left: 25vw;
    background: #F5F5F5 ;
    border-radius: 21px;
    
}
.imgbox{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
}

.shop-img{
    position: relative;
    box-sizing: border-box;
    height: 70%;
    width: 80%;
    top:4vh;
    left: 3vw;
}
.text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 8vh;
    font-weight: 700;
    font-size: 20px;
}

//login Box css
.reg-container{
    position: relative;
    bottom: 3vh;
    width: 28vw;
    height: 64vh;
    box-sizing: border-box;
    background: #FFFFFF ;
    box-shadow: 0px 5px 15px #13131329;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.subContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    left: 3.5vw;
    height: 100%;
    width: 75%;
}
.twoBtn{
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 500px;
    width: 100%;
    height: 10%;
    top: 1vh;

}
::ng-deep .twoBtn1{
    height: 45px !important;
    display: flex;
    position: relative;
    font-size: 25px;
    font-weight: 550;
    width: 43%;
    background-color: transparent;
    border-color: transparent;
    color: #0A0102;
}
::ng-deep .twoBtn2{
    color: #878787 !important;
    height: 45px !important;
    display: flex;
    position: relative;
    font-size: 25px;
    font-weight: 550;
    width: 43%;
    background-color: transparent;
    border-color: transparent;
    color: #0A0102;
}
// .Btns{
//     display: flex;
//     position: relative;
//     font-size: 25px;
//     font-weight: 550;
//     width: 43%;
//     background-color: transparent;
//     border-color: transparent;
//     color: #0A0102;
// }
.formbox{
    width: 100%;
}

.txtbox{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    height: 14%;
    top: 2vh;

} 
.txtbox1{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    height: 12%;
    top: 9vh;

}
.txtboxlbl{
    position: relative;
    font-size: 13px;
    font-weight: 500;
    top:2px;
}
.txtfield{
    display: flex;
    flex-direction: column;
    height: 46px;
}
::ng-deep .mat-mdc-text-field-wrapper {
    height: 46px !important;    
}

::ng-deep .mat-mdc-form-field-infix {
    min-height: 50px;
}
::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 10px;
    padding-bottom: 16px;
}
::ng-deep .mat-mdc-form-field-error-wrapper {
    position: absolute;
    top: -5px !important;
    left: 0 !important;
    right: 2px !important;
    padding: 0 !important;
}

.forgotbtn{
    display: flex;
    position: relative;
    top:16vh;
    width: 100%;
    justify-content: flex-end;
    background-color: transparent;
    border-color: transparent;

}
.fgtbtn{
    position: relative;
    background-color: transparent;
    border-color: transparent;
    padding: 1px;
    height: 12px !important;

}

.loginBox{
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    top: 19vh;
}
::ng-deep .login{
    border: none;
    font-size: 17px;
    background-color: #A03037 !important;
    width: 100%;
    height: 42px !important; 
    border-radius: 0 !important;
    color: #f5f5f5 !important;
}

.orTxt{
    display: flex;
    position: relative;
    justify-content: center;
    color:#343434;
    font-size: 17px;
    font-weight: 500;
    top:11vh;
}
.btns{
    display: flex;
    position: relative;
    top:16vh;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    border: transparent;
}
.fbBtn{
    font-size: 15px;
    width: 100%;
    margin-right: 5px;
    background-color: #4266B2;
    border: transparent;
    color: white;

}
.btn-google{
    font-size: 15px;
    width: 100%;
    margin-left: 5px;
    background-color: #E4E4E4;
    border: transparent;
}
