<div>
    <div class="topbox">
        <div class="topinbox">
            <div class="txtBook">
                Home /
            </div>
            <div class="subtxt">Book ({{bookId}})</div>
        </div>
    </div>
    <div class="fullDatabox">
        <div class="onlyImagesbox">
            <div class="box1">
                <img class="imgs" src="/assets/react.png" />
                <img class="imgs" src="/assets/dont.png" />
            </div>
            <div class="box2">
                <div class="bigImg">
                    <img class="mainImg" src="/assets/react.png" />
                </div>
                <div class="add2Tag">
                    <button mat-flat-button class="btnbag">Add to Bag</button>
                    <button mat-flat-button class="btnwish">
                        <img src="/assets/favourite1.png" class="favicon" >
                        Wishlist
                    </button>
                </div>
            </div>
        </div>
        <div class="textAreaBox">
            <div class="dataBox">
                <div class="booktextBox">
                    <div class="titletxt">
                        {{book.bookTitle}}
                    </div>
                    <div class="authortxt">
                        {{book.author}}
                    </div>
                    <div class="ratingBox">
                        <div class="star">
                            <span>{{book.rating}}</span>
                            <img src="/assets/star.jpg" class="starimg">
                        </div>
                        <span >({{book.ratedCount}})</span>
                    </div>
                    <div class="priceBox">
                        <span >Rs.{{book.discountedPrice}} </span>
                        <span class="actPrice">Rs.{{book.actualPrice}}</span>
                    </div>
                </div>
            </div>
            <div class="detailBox">
                <div class="dtltxt">• Book Details</div>
                <div class="para">
                    <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque unde reiciendis veritatis praesentium
                    nemo vel alias repudiandae repellat accusantium, enim id temporibus vitae illo accusamus eos
                    dignissimos fuga rerum odit. -->
                    {{book.description}}
                </div>
            </div>
            <div class="custRate">
                <div class="custTxt">Customer Feedback</div>
                <div class="overallRatingBox">
                    <div class="inOverall">Overall Rating
                        <span class="star5Box">
                            <img class="star5in" src="/assets/starRate.png">
                            <img class="star5in" src="/assets/starRate.png">
                            <img class="star5in" src="/assets/starRate.png">
                            <img class="star5in" src="/assets/starRate.png">
                            <img class="star5in" src="/assets/starRate.png">                           
                        </span>
                        <div class="txtBox">
                            <textarea class="txtarea" placeholder='Write your review...'></textarea>
                        </div>
                        <div class="submit">
                            <button mat-flat-button type='submit' class="subbtn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviewbox">
                <div class="tagName">
                    <span class="roundtxt">HD</span>
                    <div class="nametxt">Hemant Dhurve </div>
                </div>
                <div class="yellow5star">
                    <img  class="yellowStar" src="/assets/yellowStar.png">
                    <img  class="yellowStar" src="/assets/yellowStar.png">
                    <img  class="yellowStar" src="/assets/yellowStar.png">
                    <img  class="whiteStar" src="/assets/starRate.png">
                    <img  class="whiteStar" src="/assets/starRate.png">
                </div>
                <div class="reviewTxt">
                    <span>Good product. Even though the translation could have been better.</span>
                </div>                
            </div>
        </div>
    </div>
</div>