<div class="mainBox">

    <div class="resettxt">
        <span>Reset Your Password</span>
    </div>
    <div class="resetBox">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">  
            <div class="innerBox">
                <div class="txtbox">
                    <label class="txtboxlbl">New Password</label>
                    <mat-form-field appearance="outline" class="txtfield">
                        <input matInput placeholder="" formControlName="newPassword" />
                        <mat-error>Email required</mat-error>
                    </mat-form-field>
                </div>
                <div class="txtbox">
                    <label class="txtboxlbl">Confirm Password</label>
                    <mat-form-field appearance="outline" class="txtfield">
                        <input matInput placeholder="" formControlName="confirmPassword" />
                        <mat-error>Email required</mat-error>
                    </mat-form-field>
                </div>
                <div class="reset">
                    <button mat-button class="resetBtn" type="submit">Reset Password</button>
                </div>
            </div>
        </form>
        <div class="acc">
            <button mat-button basic class="accbtn" routerLink="/login">Login Account</button>
        </div>
    </div>
</div>