.mainBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.resettxt {
    position: relative;
    // top: 20vh;
    bottom: 5vh;
    font-size: 25px;
    font-weight: 500;
    color: black;
}
.resetBox {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50vh;
    width: 390px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px gray;
    border:1px solid black;
    border: 1px solid gray;
    // left:35vw;
    // top: 25vh;
}
.innerBox {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    height:28vh;
    bottom: 3vh;
    width: 22vw;
    row-gap: 3vh;
    // top: 5vh;
}
.txt {
    position: relative;
    bottom: 5px;
    font-size: 14px;
}
.txtbox{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    height: 60px;
    top: 2vh;

}
.txtboxlbl{
    position: relative;
    font-size: 13px;
    font-weight: 500;
    top:2px;

}
.txtfield{
    display: flex;
    flex-direction: column;
    height: 46px;

}
::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px !important;  

}

::ng-deep .mat-mdc-form-field-infix {
    min-height: 50px;

}
::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 10px;
    padding-bottom: 16px;
}
::ng-deep .mat-mdc-form-field-error-wrapper {
    position: absolute;
    top: -5px !important;
    left: 0 !important;
    right: 2px !important;
    padding: 0 !important;
}
.reset{
    position: relative;
    display: flex;
    justify-content: center;
    top: 2vh;
    background-color: #A03037 !important;
}
.resetBtn{
    color: #F9F9F8 !important;
    height: 40px;
}
.acc {
    display: flex;
    position: relative;
    top: 4vh;
    height: 90px;
    width: 100%;
    background-color: #E4E4E4;
    box-sizing: border-box;
    justify-content: center;
    align-Items: center;
    border: 1px solid #F9F9F8;
}
.accbtn{
    width: 180px;
    height: 50px;
    font-size: 18px;
    font-weight: 580;
}

@media (min-width:721px) and (max-width:1280px){
    
    .resetBox {
        height: 56vh;
        width: 360px;
    }
    .innerBox {
        height:29vh;
        width: 310px;
        // left: 3vw;
        bottom: 5vh;
    }
    .acc {
        top: 5.5vh;
        width: 100%;
    }
}
@media (min-width:481px) and (max-width:720px){
    
    .resetBox {
        height: 56vh;
        width: 360px;
    }
    .innerBox {
        height:29vh;
        width: 310px;
        // left: 3vw;
        bottom: 5vh;
    }
    .acc {
        top: 5.5vh;
        width: 100%;
    }
}
@media (min-width:320px) and (max-width:480px){
    
    .resetBox {
        height: 56vh;
        width:90%;
    }
    .innerBox {
        height:29vh;
        width: 80vw;
        // left: 3vw;
        bottom: 5vh;
    }
    .acc {
        top: 5.5vh;
        width: 100%;
    }
}