
<div>
    <div class="topbox">
        <div class="topinbox">
            <div class="txtBook">
                Home /
            </div>
            <div class="subtxt">My Orders</div>
        </div>
    </div>
    <div class="outerOrderBox">
        <div class="innerOrderBox">
            <div class="imgBox">
                <img class="imgs" src="/assets/dont.png">
            </div>
            <div class="detailsBox">
                <span class="bookttl">BookTitle</span>
                <span class="authorttl">by Author</span>
                <div class="priceBox">
                    <span class="discprice">Rs. 1000</span>
                    <span class="actprice">Rs. 2000</span>
                </div>
            </div>
            <div class="dateBox">
                <img src="/assets/greendot.png" class="dotImg">
                <span class="dateTxt">Order Placed on May 21</span>

            </div>
        </div>
    </div>
</div>